* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-y: hidden;
}

a {
  color: hotpink
}

ol {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

html {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

img {
  height: 100vh;
  object-fit: cover;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

aside {
  position: fixed;
  bottom: 10px;
  right: 0;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: right;
}

aside > div >  a {
  background: black;
  padding: .6em;
  text-decoration: none;
  display: inline;
}